#skills {
  color: #F5B7B1;
  font-size: 30px;
}

#analytical {
  color: #D7BDE2;
  font-size: 30px;
}

#communication {
  color: #A9CCE3;
  font-size: 30px;
}

#collaborative {
  color: #A3E4D7;
  font-size: 30px;
}

table {
  border: 4px solid black;
  border-collapse: collapse;
  width: 50%;
}
#disclaim {
  color: red;
  font-size: 42px;
}

.blink-bg {
  color: #fff;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
  0%  {background-color: #10c018;}
  25% {background-color: #1056c0;}
  50% {background-color: #ef0a1a;}
  75% {background-color: #254878;}
  100%  {background-color: #04a1d5;}
}
th,td {
  border:1px solid black;
  padding: 5px;
  text-align: center;
}
th {
  background-color: lightgrey;
}


#pic {
  width: 50%;
  height: 50%;
}
